[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/frpc -c /etc/openvpn/frpc_vpn.ini
ExecReload=/usr/bin/frpc reload -c /etc/frp/frpc_vpn.ini

[Install]
WantedBy=multi-user.target
