[Unit]
Description=Start Docker Cli Service
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/envokeDockerCli.sh
ExecReload=/usr/bin/envokeDockerCli.sh

[Install]
WantedBy=multi-user.target

